<header>

  <div class="Superior">
    <img class="loga" src="/images/logo2-removebg-preview.png" />

  </div>

  <nav class="menu-superior">
    <ul>
      <li><a href="sobre">Sobre</a></li>
      <li><a href="/servicos">Serviços</a></li>
      <li><a href="">Contato</a></li>
      <li><a href="">Sair</a></li>
    </ul>

    <div class="usuario">
      <a href="perfil">usuário</a>
      <div class="fotousuario"></div>
    </div>
  </nav>

  <nav class="menu-mobile">
    <img src="/images/menu.png" alt="menu" />
  </nav>

</header>