<header>
  <div class="BordaSuperior">
    <a class="Superior">
      <img class="loga" src="/images/logo2-removebg-preview.png" />
    </a>

    <nav class="menu-superior">
      <ul>
        <li><a href="sobre">Sobre</a></li>
        <li><a href="">Serviços</a></li>
        <li><a href="">Contato</a></li>
        <li><a href="">Sair</a></li>
      </ul>

      <nav class="usuario">
        <p>usuário</p>
        <nav class="fotousuario"></nav>
      </nav>
    </nav>

    <nav class="menu-mobile">
      <img src="/images/menu.png" alt="menu" />
    </nav>
  </div>
</header>
