

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" 
integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" 
crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="/stylesheets/bordaSuperior.css" />

<link rel="icon" type='image/x-icon' href="/public/images/WhatsApp Image 2022-03-15 at 20.14.49.jpeg"/>


<header>

  <div class="Superior">
    <img class="loga" src="/images/logo2-removebg-preview.png" />

  </div>

  <nav class="menu-superior">
    <ul>
      <li><a href="sobre">Sobre</a></li>
      <li><a href="/servicos">Serviços</a></li>
      <li><a href="/sair">Sair</a></li>
    </ul>

    <div class="usuario">
      <a href="perfil">Olá <%=  %></a>
      <div class="fotousuario">
        <img src="/images/Icone-usuario-Png-1024x1024.png" alt="menu" />
      </div>
    </div>
  </nav>

  <nav class="menu-mobile">
    <img src="/images/menu.png" alt="menu" />
  </nav>

</header>