<div class="TelaCadastro">
        <div class="TelaCadastroMenu">
            <input id="hideMenu" type="radio" value="fecha" onClick="false"/>
            
    
                <a href="../controle">Gera Boletos</a>
                <div class="separador"></div>
                <a href="">Anuncios Condominio</a>
                <div class="separador"></div>
                <a href="">Reservar Área</a>
                <div class="separador"></div>
                <a href=""></a>
                <div class="separador"></div>
                <a href=""></a>
                <div class="separador"></div>
                <a href=""></a>
                <div class="separador"></div>
                <a href=""></a>
                <div class="separador"></div>
        </div> 
        <div id="TelaCadastroOcultMenu">
            <input id="showMenu" type="button" value="Exibir Menu" onClick="true" />
          </div>
            <div class="TelaCadastroOcultMenu"></div>