<div class="TelaCadastro">
    <div class="TelaCadastroMenu">
            <a href="">Gera Boletos</a>
            <a href="">Anuncios Condominio</a>
            <a href="">Reservar Área</a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
    </div> 
