<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="../stylesheets/stylesLogin.css" />

    <title>DH Codomínios</title>
  </head>

  <body>
    <%- include("./partials/bordaLogin") %>
    <div class="center">
      <div class="boxVerde">
        <nav class="login">
          <h1>Login</h1>
          <form class="menu" action="/login" method="post">
            

            <label for="email">E-mail</label>
            <input type="email" name="email" id="" required />

            <label for="senha">Senha</label>
            <input type="password" name="senha" id="" required />

            <nav class="logado">
            <input type="checkbox" name="logado" id="">
            <label for="">Manter logado?</label>
          </nav>
          <br>
            <button type="submit">Entrar</button>
            <p class="saudaçōes">Nossa Prioridade é morar bem!</p>
          </form>
        </nav>
      </div>
    </div>

    <%- include("./partials/bordaInferior") %>
  </body>
</html>
