<!DOCTYPE html>
<html lang="pt-br">

<head>
  <%- include("./partials/head") %>
    <link rel="stylesheet" href="../stylesheets/stylesLogin.css" />

    <title>DH Codomínios</title>
</head>

<body>
  <%- include("./partials/bordaLogin") %>


    <div class="grow">
      <div class="boxVerde">
        <nav class="login">


          <h1>Login</h1>
          <form class="menu" action="/login" method="post">
            <label for="condominio">Condominío</label>

            <select name="condominio" id="condominio">
              <option selected disabled>Selecione</option>
              <option value="solarSim">Solar Sim</option>
              <option value="solarMais">Solar Mais</option>
              <option value="solarMenos">Solar Menos</option>
            </select>


            <label for="usuario">Usuário</label>

            <input type="text" name="usuario" id="usuario" required>

            <label for="senha">Senha</label>

            <input type="password" name="senha" id="senha" required>
            <br>
            <button type="submit">Entrar</button>
            <p class="saudaçōes">Nossa Prioridade é morar bem!</p>
          </form>

        </nav>
      </div>

    </div>


    <%- include("./partials/bordaInferior") %>


</body>

</html>