<!DOCTYPE html>
<html>
  <head>
  
    <link rel='stylesheet' href='/stylesheets/stylesLogin.css' />
  </head>
  <body>

  <body>
    <%- include("./partials/bordaLogin") %>
    <h1><%-"Seja bem vindo a nossa pagina de PI"%></h1>
  </body>
  </body>
</html>
