<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include("./partials/head") %>
    <title>Cadastro</title>
    <link rel="stylesheet" href="/stylesheets/stylePerfil.css" />
</head>

<body>
    <header>
        <%- include("./partials/bordaSuperior") %>

    </header>
<%//as informacoes serao recebidas pelo metodo Get//%>


<div class="TelaCadastro">
    <div class="TelaCadastroMenu">
        <ul>
            
            <li><a href="">Gera Boletos</a></li>
            <br>
            <li><a href="">Anuncios Condominio</a></li>
            <br>
            <li><a href="">Reservar Área</a></li>
            <br>
            <li><a href=""></a></li>
            <br>
            <li><a href=""></a></li>
            <br>
            <li><a href=""></a></li>
            <br>
            <li><a href=""></a></li>
            <br>
          </ul>
    </div>     
    <div id="main-container">
        <h1>Perfil Usuário</h1>
            <form id="register-form">
            
                <div class="formUsuario">
                    <label for="Nome">Nome</label>
                    
                     <input type="text" name="nome" id="nome" placeholder="Digite o Nome do Usuário">
                 
                    <label for="CPF">CPF</label>
                    <input type="number" name="CPF" id="CPF" placeholder="Digite o CPF do Usuário">
                  
                    <label for="E-mail">E-Mail</label>
                    <input type="email" name="email" id="email" placeholder="Digite o E-mail do Usuário">   
                    
                </div>
                <div class="foto"></div>
            </form>
                    


                    
                
            <div class="form">
                        <label for="Apartamento">Apartamento</label>
                        <div class="half-box">
                            <input type="text" name="Apartamento" id="Apartamento" placeholder="Digite o Apartamento">
                            <input type="text" name="Bloco" id="Bloco" placeholder="Digite o Bloco">
                            <div class="butao">
                                
                                <input type="button" id="Confirmar" value="Confirmar">
                            </div>
                        </div>
                    </div>
            </form>
        <div class="obs">
            <label for="observação">Observação</label>
                 <input type="text" name="Observação" size="120" maxlength="30">
        </div> 
</div>
</div>           

          
            <%- include("./partials/bordaInferior") %>
    
</body>
</html>