<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="/stylesheets/reservas.css" />
    <title>Sobre DH</title>
</head>

<body>
    <div>
    <%- include("./partials/bordaSuperior") %>
</div>
    <div class="TelaCadastro">
        <%- include("./partials/menuLateral") %>
    </div>

    
        <!-- não pode ter mais de um nav por página -->

        <!-- Faz aqui   -->

        <div class="testo">

            <h1>Tela de reserva Reservar</h1>

        
        <div class="sobre">
            <div class="imgSobre">
                <p>Area de Lazer</p>
                <img src="/images/fenseg.jpeg" alt="imagem condominio">
                
            </div>

            <div class="imgSobre">
                <p>Salao de Festas</p>
                <img src="/images/fenseg.jpeg" alt="imagem condominio">
            </div>

            <div class="imgSobre">
                <p>Churasqueira</p>
                <img src="/images/fenseg.jpeg" alt="imagem condominio">
            </div>
        </div>


    <%- include("./partials/bordaInferior") %>

</body>

</html>