<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="/stylesheets/style-tela-controle-reserva.css" />
    <title>Sobre DH</title>
</head>

<body>
    <div>
    <%- include("./partials/bordaSuperior") %>
</div>
    <div class="TelaCadastro">
        <%- include("./partials/menuLateral") %>
    </div>
           <div class="controle-reserva">
                <br>
                <p  class="titulo-reserva">Controle de Reservas</p>
                <img src="../images/imagem-caixa-reserva-1.jpg" alt="foto do primeiro condominio">
                <br>
                <br>
                <p >Condomínio Vale do Igapó</p>
                <br>
                <a href="ValeIgapo" class="link-informacoes-reserva" >Ver mais informações</a>
                <img src="../images/imagem-caixa-reserva-2.jpg" alt="foto do primeiro condominio">
                <br>
                <br>
                <p >Condomínio Jardim das Oliveiras</p>
                <br>
                <a href="JardinOliveiras"  class="link-informacoes-reserva">Ver mais informações</a>
                <img src="../images/imagem-caixa-reserva-3.jpg" alt="foto do primeiro condominio">
                <br>
                <br>
                <p >Condomínio Boa Vista</p>
                <br>
                <a  href="BoaVista" class="link-informacoes-reserva">Ver mais informações</a>
                <img src="../images/imagem-caixa-reserva-4.jpg" alt="foto do primeiro condominio">
                <br>
                <br>
                <p >Condomínio AlphaVille</p>
                <br>
                <a  href="AlphaVille" class="link-informacoes-reserva" >Ver mais informações</a>
                <img src="../images/imagem-caixa-reserva-5.jpg" alt="foto do primeiro condominio">
                <br>
                <br>
                <p >Condomínio Green Garden</p>
                <br>
                <a  href="GreenGraden" class="link-informacoes-reserva">Ver mais informações</a>
            </div>
            


    <%- include("./partials/bordaInferior") %>

</body>

</html>