<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Sobre DH</title>
</head>

<body>
    <%- include("./partials/bordaSuperior") %>
    <div class="sessao">
        <div class="sobre">
            <div class="imgSobre">
                <img src="/images/fenseg.jpeg" alt="imagem condominio">
            </div>
<div class="servicos">
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea hic ducimus debitis? Suscipit cumque placeat, dolor, ratione deleniti quo, amet ea omnis nobis illo natus perspiciatis non? Placeat, exercitationem ea!
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea iste odit eveniet dignissimos quidem omnis consectetur itaque architecto provident tenetur dolores iusto eaque nesciunt, odio sed sit? Sequi, sed quae!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore doloribus, harum aut atque, suscipit necessitatibus distinctio nam architecto explicabo voluptate cumque quae dolorum itaque quasi maiores perspiciatis nesciunt, sapiente pariatur!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus neque soluta eaque velit eum consequatur inventore assumenda? Laborum facilis quibusdam amet optio quo, ipsam dolorem. Nihil ipsa laboriosam cupiditate possimus.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti dolores tempore ut! Iste culpa commodi nemo, fuga alias ad sint, illo minus ex unde sequi dicta eum neque quas quaerat?

            <p>O contrato de prestação de um serviço precisa ter primeiramente a necessidade do cliente.
                Uma vez sendo útil para o cliente, o síndico deverá seguir os trâmites para efetuar o contrato. Normalmente submete aos conselheiros e conduz para a aprovação AG (assembléia geral).
                
                A forma com o contrato será pago depende do condomínio. Há os que possuem caixa disponível - não sendo necessário taxa extra. E há os que não têm folga e a contratação exigiria taxa extra. Nesse último seriam 2 etapas de aprovação (na mesma AG): 1o) Aprovação (ou não) de contratação do serviço; 2o) Aprovação (ou não) da taxa extra e seu valor.
                
                Pode-se ter o caso da necessidade e contratação do serviço ser aprovada/reconhecida, porém o valor não ser adequado para o bolso do condomínio/condôminos. Daí retorna-se a mesa de negociação e/ou busca-se outro fornecedor.
                
                Vender serviço é um pouco mais difícil já que vende-se um "bem" não "visível" como o caso de vender produto.
                
                Boa sorte e Sucesso!</p>
            
            </div>
    </div>
    <%- include("./partials/bordaInferior") %>

</body>

</html>