<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="/stylesheets/anucios.css" />
    <title>Sobre DH</title>
</head>

<body>
    <%- include("./partials/bordaSuperior") %>
    <div class="sessao">
        
            <div class="imgSobre">
                <img src="../images/imagem-caixa-reserva-1.jpg" alt="imagem condominio">
            </div>
       <div class="servicos">
          
            <h1> Anuncios</h1>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quaerat adipisci blanditiis, numquam magni, illum illo voluptate eveniet suscipit molestiae sapiente qui perspiciatis quidem asperiores delectus doloribus distinctio excepturi itaque?</p> 
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum voluptatibus mollitia inventore distinctio dolores culpa et non neque possimus nam libero doloribus iste adipisci, itaque, sint nihil excepturi officia. Eos?</p>
                
                
                <br><br>
                <h2>Obrigado pela compreeção!</h2> 
                <a  href="reservas"><h1>Voltar </h1> </a>
            
         </div>
    </div>
    <%- include("./partials/bordaInferior") %>
</body>

</html>