@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap");


* {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
}

body {
  margin: 0;
  height: 100%;
  font-family: "Nunito", sans-serif;
  color: black;
  display: flex;
  flex-direction: column;
  background-color: rgba(17, 18, 18, 0.5);
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #238ECB;
  align-items: center;
  padding: 8px;
  height: 70px;
  box-shadow: -3px 9px 10px rgba(201, 213, 231, 0.9);
}

.loga{
  width: 300px;
  height: 70px;
}


.usuario a:any-link {
    text-decoration: none; /*Tira a linha de baixo*/
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    display: inline-block;
    margin: 10px 20px 0 0;
    font-size: 10px;
  }


header nav  ul li {
  display: inline-block;
  
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}
header nav ul li a:any-link {
  text-decoration: none; /*Tira a linha de baixo*/
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  margin: 10px 20px 0 0;
  font-size: 20px;
  align-items: center;
}
.img{
  width: auto;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
    
}



/* Estylo Menu */

.menu-superior {
  display: none;

}

.menu-mobile {
  display: flex;
}

.menu-mobile img {
  width: 64px;
}

@media (min-width: 856px) {
  .menu-superior {
    display: flex;
    gap: 30px;
  }

  .menu-mobile {
    display: none;
  }
}

.usuario{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
    color: #fff;
    font-size: 25px;
    
  }
  
  .fotousuario{
    height: 50px;
    width: 50px;
    background-color:#d9e1e6;
    border-radius: 30px 30px;
   
  }


/*TELA LOGIM*/

.sobre {
  justify-content: space-around;
  width: auto;
  height: 100%;
  display: flex;
  flex-wrap: wrap; /*JOGA TUDO PARA BAIXO*/
  background-color: #fff;
  align-items: center;
}

.imgSobre {
  height: 100%;
  width: 40%;
  z-index: 1;
  margin-top: 0px;
  
}
.imgSobre img{
  max-width: 100%;
  max-width: 100%;
  z-index: 1;
  margin-top: 0px;
  height: 100%;
  
}
.textSobre {
  display: flex;
  flex-direction: column;
  padding: 70px 50px;
  background-color: white;
  text-align: center;
  text-decoration: none;
  text-size-adjust: none;
  margin-top: 40px;
  margin-bottom: 50px;
  width: 50%;
}

.rodape {
  width: 100vw;
  height: 90px;
  background-color: #238ecb;
  margin-bottom: 0;
  z-index: 10;
  box-shadow: 0px 5px 10px;
}

.redes-sociais {
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding-top: 20px;
  gap: 30px;

}

.usuario {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 25px;
  justify-content: space-around;
  text-transform: uppercase;
  gap: 20px;
  color: #fff;
  font-size: 25px;
}

.fotousuario {
  height: 50px;
  width: 50px;
  background-color: #d9e1e6;
  border-radius: 30px 30px;
}


