
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

body{
  
  margin: 0;
  width: 100%;
  font-family: 'Nunito', sans-serif;
  color: black;
  
}

.loga{
  width: 350px;
  height: 100px;
  
}

header {
  width: auto;
  background-color:#238ECB;

}

.BordaSuperiror{
  
  height: 90px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}



header nav  ul li {
  display: inline-block;
  
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}
header nav ul li a:any-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  display: inline-block;
  padding: 10px;
}
.img{
  width: auto;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
    
}


/* Estylo Menu */

.menu-superior {
  display: none;
  flex: 2;
  justify-content: space-around;
}

.menu-mobile {
  display: flex;
}

.menu-mobile img {
  width: 64px;
}
@media (min-width: 1025px) {
  .menu-superior{
    display: flex;
  }

  .menu-mobile {
    display: none;
  }
}



/*TELA LOGIM*/


.rodape{
  width: 100vw;
  height: 90px;
  background-color:#238ECB;
  margin-bottom: 0;
  position: relative;
  z-index: 10;
  box-shadow: 0px 5px 10px;
  
 
}


.sobre{
  

  justify-content: space-around;
  width: auto;
  height: 750px;
  display: flex;
  
  
}
.ladoDireito{
  width: 40px;
  height: auto;
  margin: 0px;
  background-color:#238ECB;
}
.ladoEsquerdo{
  width: 40px;
  height: auto;
  margin: 0px;
  background-color:#238ECB;
}

.usuario{
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase;
  color: #fff;
}

.fotousuario{
  height: 50px;
  width: 50px;
  background-color:#d9e1e6;
  border-radius: 30px 30px;
 
}
.imgSobre img{
  height: 400px;
  width: 500px;
  z-index: 1;
  margin-top: 0px;
  padding: 0;
   
}
.textSobre{
  display: flex;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
}