@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap");

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  color: black;
  background-color: #238ecb;
}
.sessao {
  background-color: #fff;
  max-width: 95vw;
  margin: 0 auto;
}
.loga {
  width: 350px;
  height: 100px;
}

header {
  width: auto;
  background-color: #238ecb;
}

.BordaSuperiror {
  height: 90px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul li {
  display: inline-block;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}
header nav ul li a:any-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  display: inline-block;
  padding: 10px;
  font-size: 30px;
}

/* Estylo Menu */

.menu-superior {
  display: flex;

  justify-content: space-around;
}

.menu-mobile {
  display: flex;
}

.menu-mobile img {
  width: 64px;
}
@media (min-width: 1200px) {
  .menu-superior {
    display: flex;
  }

  .menu-mobile {
    display: none;
  }
}

/*TELA LOGIM*/

.rodape {
  width: 100vw;
  height: 90px;
  background-color: #238ecb;
  margin-bottom: 0;
  position: relative;
  z-index: 10;
  box-shadow: 0px 5px 10px;
}

.sobre {
  justify-content: space-around;
  width: auto;
  height: 750px;
  display: flex;
}

.usuario {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase;
  color: #fff;
  font-size: 25px;
}

.fotousuario {
  height: 50px;
  width: 50px;
  background-color: #d9e1e6;
  border-radius: 30px 30px;
}
.imgSobre img {
  max-height: 700vh;
  max-width: 900vw;
  z-index: 1;
  margin-top: 0px;
}
.textSobre {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-decoration: none;

  width: 1000px;
  height: auto;
}

.trabalho ul {
  display: flex;
  flex-direction: column;
  text-decoration-style: none;
}
