<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
  integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="/stylesheets/bordaInferior.css" />


<footer class="rodape">
  <ul class="redes-sociais">
    <li>
      <figure>
        <img src="images/facebook.svg" alt="icone facebook" width="50px">
      </figure>
    </li>
    <li>
      <figure>
        <img src="images/instagram.svg" alt="icone instagram" width="50px">
      </figure>
    </li>
    <li>
      <figure>
        <img src="images/linkedin.svg" alt="icone linkedin" width="50px">
      </figure>
    </li>
  </ul>
</footer>