.botao-flutuante {
    position: fixed;
  
    width: 64px;
    height: 64px;
    transition: all 1s;
    cursor: pointer;
  }
  
  .botao-flutuante > img {
    width: 100%;
  }
  
  .botao-flutuante:hover {
    width: -96px;
    height: -96px;
  }