.botao-flutuante {
    position: fixed;
    transition: all 1s;
    cursor: pointer;
  }
  
  .botao-flutuante > img {
    width: 20px;
  }
  
  .botao-flutuante:hover {
    width: -96px;
    height: -96px;
  }