@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
}

.perfil {

  font-family: "Nunito", sans-serif;
  background: url("../assets/areaLazer.png") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  
  
}

  .TelaCadastro-perfil{
    height: 100vh;
    max-width: 100%;
    display: flex;
    margin-right: 20px;

}
 
  /*Telas cadastro*/

  #main-container-perfil {
    background-color: rgba(17, 18, 18, 0.5);
    border-radius: 60px 60px;
    z-index: 1;
    height: 90%;
    width: 95%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    margin-left:  30px;
    margin-right: 30px; 
    margin-top: 20px;
   
}

#main-container-perfil h1 {
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
  min-width: 80%;
  color: #ffff;
  
}
.ajuste-foto-perfil{
    max-width: 50%;
    max-height: 50%;
    width: 150px;
    margin-right: 70px;
    margin-left: 0px;
    background-color: #fff;
    display: flex;
    flex-direction: column; 
  }
.foto-perfil input{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    width: 125px;
    height: 40px;
    margin: 0px;
    margin-top: 10px;
  }
 
input{
    display: block;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 20px 20px;
    padding: 15px;
}

#register-form-perfil{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 40PX;
    padding: 10px;
    min-width: 30%; 
  }

  .formUsuario-perfil {
   
    margin-left: 20px;
    color: #fff;
    text-align: start;
    font-size: 20px;
    line-height: 40px;
    
    
}

.form-perfil {
    margin: 20px;
    width: 50PX;
    font-size: 20px; 
    margin-left:  30px;
    margin-right: 80px;
    margin-top: 0px;
    text-align: center;
    color: #fff;
    
}

.half-box-perfil{
  display: flex;
  justify-content: space-between;
  
}
.half-box-perfil input{
  
  text-align: center;
  padding: 5px;
  width: 80px;
  height: 30px;
}

div > input {
    width:  30vw;
    padding: 10px;
    border: none; 
}
.butao-perfil{
    
  width: 32px auto;
  color: #fff;
  padding: 10px 30px;
  text-transform: 2px;
  font-weight: bold;
  background: linear-gradient(to right, #e2e2ef, #15a0e1);
  cursor: pointer;

  transition: all 0.3s ease; 
}

.butao-perfil:hover{
  background: linear-gradient(to right,  #15a0e1, #e2e2ef);
  letter-spacing: 0.9px;

}
.obs-perfil{
    margin: 5px;
    margin-left: 30px;
    margin-right: 95px;
    margin-top: 0;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px 30px;
  }


  .rodape {
    width:100%;
    height: 70px;
    background-color: #238ecb;
    margin-bottom: 0;
    z-index: 10;
    box-shadow: 0px 5px 10px;
  }
  