<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include("./partials/head") %>
        <link rel="stylesheet" href="/stylesheets/style-tela-controle-reserva.css" />
        <title>Sobre DH</title>
</head>

<body>
    <div>
        <%- include("./partials/bordaSuperior") %>
    </div>

    <main class="controle-reserva">
        <br>
        <p class="titulo-reserva">Controle de Reservas</p>
        <img src="../images/imagem-caixa-reserva-1.jpg" alt="foto do primeiro condominio">
        <br>
        <br>
        <p>Condomínio Vale do Igapó</p>
        <br>
        <nav href="ValeIgapo" class="link-informacoes-reserva">Ver mais informações</nav>
        <img src="../images/imagem-caixa-reserva-2.jpg" alt="foto do primeiro condominio">
        <br>
        <br>
        <p>Condomínio Jardim das Oliveiras</p>
        <br>
        <nav href="JardinOliveiras" class="link-informacoes-reserva">Ver mais informações</nav>
        <img src="../images/imagem-caixa-reserva-3.jpg" alt="foto do primeiro condominio">
        <br>
        <br>
        <p>Condomínio Boa Vista</p>
        <br>
        <nav href="BoaVista" class="link-informacoes-reserva">Ver mais informações</nav>
        <img src="../images/imagem-caixa-reserva-4.jpg" alt="foto do primeiro condominio">
        <br>
        <br>
        <p>Condomínio AlphaVille</p>
        <br>
        <nav href="AlphaVille" class="link-informacoes-reserva">Ver mais informações</nav>
        <img src="../images/imagem-caixa-reserva-5.jpg" alt="foto do primeiro condominio">
        <br>
        <br>
        <p>Condomínio Green Garden</p>
        <br>
        <anav href="GreenGraden" class="link-informacoes-reserva">Ver mais informações</nav>
    </main>

    <%- include("./partials/bordaInferior") %>

</body>

</html>